header {
  background-color: #2b81af;
  color: #fff;
  height: 20px;
  padding: 20px;
}
article {
  margin: 10px;
}
.captchaImage {
  width: 150px;
  height: 30px;
}
.refreshCaptchaButton {
  margin: 5px;
  margin-bottom: 25px;
  width: 50px;
}
