header {
  background-color: #149BAD;
  color: #fff;
  height: 20px;
  padding: 20px;
}
.headerMain {
  float: left;
  margin: 0px 0px 0px 150px;
}
.headerTail {
  float: right;
  margin: 0px 150px 0px 0px;
}
.signButton {
  margin: 0px 3px 0px 3px;
}
body {
  font-family: 'Microsoft YaHei';
  font-size: larger;
}
article {
  margin: 30px 10px 10px 10px;
}
.captchaImage {
  width: 150px;
  height: 30px;
}
.refreshCaptchaButton {
  margin: 5px 5px 25px 5px;
  width: 50px;
}
